.doc-toc-section {
    padding-top: 10px;
}

.doc-toc h1,
.doc-toc h2,
.doc-toc h3,
.doc-toc h4,
.doc-toc h5,
.doc-toc h6 {
    margin-top: 0em;
    padding-top: 0em;
}

.docs-content a {
    color: #00b5a6;
}

ul.doc-toc, ul.doc-toc ul {
    list-style: none;
    line-height: 160%;
    padding-left: 10px;
}

ul.doc-toc ul ul {
    padding-left: 10px;
}

ul.doc-toc h2 {
    font-size: 1.4rem;
    font-weight: 600;
    color: #d0d8e0;
}

ul.doc-toc li a {
    color: #b0bac4;
    transition: color 0.15s;
}

ul.doc-toc li a:hover {
    color: #00b5a6;
}
