{"openapi":"3.0.1","info":{"title":"MetaLoom // Loom REST API","description":"The API for our example server","termsOfService":null,"contact":null,"license":null,"version":"1_0","extensions":null,"summary":null},"externalDocs":null,"servers":[{"url":"https://server.tld","description":"The API for our example server","variables":null,"extensions":null}],"security":null,"tags":null,"paths":{"/users":{"summary":null,"description":null,"get":{"tags":null,"summary":null,"description":null,"externalDocs":null,"operationId":null,"parameters":[{"name":"filter","in":"query","description":"name[eq]=joedoe","required":null,"deprecated":null,"allowEmptyValue":null,"$ref":null,"style":null,"explode":null,"allowReserved":null,"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"string","not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"exampleSetFlag":false,"prefixItems":null,"allOf":null,"anyOf":null,"oneOf":null,"items":null,"types":null,"patternProperties":null,"exclusiveMaximumValue":null,"exclusiveMinimumValue":null,"contains":null,"$id":null,"$schema":null,"$anchor":null,"contentEncoding":null,"contentMediaType":null,"contentSchema":null,"propertyNames":null,"unevaluatedProperties":null,"maxContains":null,"minContains":null,"additionalItems":null,"unevaluatedItems":null,"then":null,"dependentSchemas":null,"dependentRequired":null,"$comment":null,"examples":null,"booleanSchemaValue":null,"jsonSchema":null,"default":null,"jsonSchemaImpl":null,"enum":null,"if":null,"else":null,"const":null},"examples":null,"example":"Filter the elements","content":null,"extensions":null},{"name":"limit","in":"query","description":"25","required":null,"deprecated":null,"allowEmptyValue":null,"$ref":null,"style":null,"explode":null,"allowReserved":null,"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"string","not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"exampleSetFlag":false,"prefixItems":null,"allOf":null,"anyOf":null,"oneOf":null,"items":null,"types":null,"patternProperties":null,"exclusiveMaximumValue":null,"exclusiveMinimumValue":null,"contains":null,"$id":null,"$schema":null,"$anchor":null,"contentEncoding":null,"contentMediaType":null,"contentSchema":null,"propertyNames":null,"unevaluatedProperties":null,"maxContains":null,"minContains":null,"additionalItems":null,"unevaluatedItems":null,"then":null,"dependentSchemas":null,"dependentRequired":null,"$comment":null,"examples":null,"booleanSchemaValue":null,"jsonSchema":null,"default":null,"jsonSchemaImpl":null,"enum":null,"if":null,"else":null,"const":null},"examples":null,"example":"Limit the page size","content":null,"extensions":null},{"name":"from","in":"query","description":"e829f0f1-4775-4857-a326-850440cf9577","required":null,"deprecated":null,"allowEmptyValue":null,"$ref":null,"style":null,"explode":null,"allowReserved":null,"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"string","not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"exampleSetFlag":false,"prefixItems":null,"allOf":null,"anyOf":null,"oneOf":null,"items":null,"types":null,"patternProperties":null,"exclusiveMaximumValue":null,"exclusiveMinimumValue":null,"contains":null,"$id":null,"$schema":null,"$anchor":null,"contentEncoding":null,"contentMediaType":null,"contentSchema":null,"propertyNames":null,"unevaluatedProperties":null,"maxContains":null,"minContains":null,"additionalItems":null,"unevaluatedItems":null,"then":null,"dependentSchemas":null,"dependentRequired":null,"$comment":null,"examples":null,"booleanSchemaValue":null,"jsonSchema":null,"default":null,"jsonSchemaImpl":null,"enum":null,"if":null,"else":null,"const":null},"examples":null,"example":"Seek to the element with the given UUID","content":null,"extensions":null},{"name":"sort","in":"query","description":"username","required":null,"deprecated":null,"allowEmptyValue":null,"$ref":null,"style":null,"explode":null,"allowReserved":null,"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"string","not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"exampleSetFlag":false,"prefixItems":null,"allOf":null,"anyOf":null,"oneOf":null,"items":null,"types":null,"patternProperties":null,"exclusiveMaximumValue":null,"exclusiveMinimumValue":null,"contains":null,"$id":null,"$schema":null,"$anchor":null,"contentEncoding":null,"contentMediaType":null,"contentSchema":null,"propertyNames":null,"unevaluatedProperties":null,"maxContains":null,"minContains":null,"additionalItems":null,"unevaluatedItems":null,"then":null,"dependentSchemas":null,"dependentRequired":null,"$comment":null,"examples":null,"booleanSchemaValue":null,"jsonSchema":null,"default":null,"jsonSchemaImpl":null,"enum":null,"if":null,"else":null,"const":null},"examples":null,"example":"Sort the elements by the provided field","content":null,"extensions":null},{"name":"dir","in":"query","description":"ASCENDING","required":null,"deprecated":null,"allowEmptyValue":null,"$ref":null,"style":null,"explode":null,"allowReserved":null,"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"string","not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"exampleSetFlag":false,"prefixItems":null,"allOf":null,"anyOf":null,"oneOf":null,"items":null,"types":null,"patternProperties":null,"exclusiveMaximumValue":null,"exclusiveMinimumValue":null,"contains":null,"$id":null,"$schema":null,"$anchor":null,"contentEncoding":null,"contentMediaType":null,"contentSchema":null,"propertyNames":null,"unevaluatedProperties":null,"maxContains":null,"minContains":null,"additionalItems":null,"unevaluatedItems":null,"then":null,"dependentSchemas":null,"dependentRequired":null,"$comment":null,"examples":null,"booleanSchemaValue":null,"jsonSchema":null,"default":null,"jsonSchemaImpl":null,"enum":null,"if":null,"else":null,"const":null},"examples":null,"example":"Sort order direction","content":null,"extensions":null}],"requestBody":null,"responses":{"200":{"description":"The user list response","headers":null,"content":{"application/json":{"schema":null,"examples":null,"example":"{\"data\":[{\"uuid\":\"f04e89d0-076d-4d90-b192-715a25a2cd59\",\"status\":{\"creator\":{\"uuid\":\"f04e89d0-076d-4d90-b192-715a25a2cd59\",\"name\":\"joedoe\"},\"created\":\"2018-10-12T14:15:06.024Z\",\"editor\":{\"uuid\":\"f04e89d0-076d-4d90-b192-715a25a2cd59\",\"name\":\"joedoe\"},\"edited\":\"2018-11-20T20:12:01.084Z\"},\"meta\":{\"abc\":\"cdef\"},\"username\":\"joedoe\",\"firstname\":\"Joe\",\"lastname\":\"Doe\",\"email\":\"joedoe@metaloom.io\",\"enabled\":false},{\"uuid\":\"f04e89d0-076d-4d90-b192-715a25a2cd59\",\"status\":{\"creator\":{\"uuid\":\"f04e89d0-076d-4d90-b192-715a25a2cd59\",\"name\":\"joedoe\"},\"created\":\"2018-10-12T14:15:06.024Z\",\"editor\":{\"uuid\":\"f04e89d0-076d-4d90-b192-715a25a2cd59\",\"name\":\"joedoe\"},\"edited\":\"2018-11-20T20:12:01.084Z\"},\"meta\":{\"abc\":\"cdef\"},\"username\":\"joedoe\",\"firstname\":\"Joe\",\"lastname\":\"Doe\",\"email\":\"joedoe@metaloom.io\",\"enabled\":false}],\"_metainfo\":{\"lastUuid\":null,\"perPage\":2,\"totalCount\":28}}","encoding":null,"extensions":null,"exampleSetFlag":true}},"links":null,"extensions":null,"$ref":null}},"callbacks":null,"deprecated":null,"security":null,"servers":null,"extensions":null},"put":null,"post":{"tags":null,"summary":null,"description":null,"externalDocs":null,"operationId":null,"parameters":null,"requestBody":{"description":null,"content":{"application/json":{"schema":null,"examples":null,"example":"{\"username\":\"joedoe\",\"firstname\":\"Joe\",\"lastname\":\"Doe\",\"email\":\"joedoe@metaloom.io\",\"meta\":{\"abc\":\"cdef\"}}","encoding":null,"extensions":null,"exampleSetFlag":true}},"required":null,"extensions":null,"$ref":null},"responses":{"200":{"description":"The user response","headers":null,"content":{"application/json":{"schema":null,"examples":null,"example":"{\"uuid\":\"f04e89d0-076d-4d90-b192-715a25a2cd59\",\"status\":{\"creator\":{\"uuid\":\"f04e89d0-076d-4d90-b192-715a25a2cd59\",\"name\":\"joedoe\"},\"created\":\"2018-10-12T14:15:06.024Z\",\"editor\":{\"uuid\":\"f04e89d0-076d-4d90-b192-715a25a2cd59\",\"name\":\"joedoe\"},\"edited\":\"2018-11-20T20:12:01.084Z\"},\"meta\":{\"abc\":\"cdef\"},\"username\":\"joedoe\",\"firstname\":\"Joe\",\"lastname\":\"Doe\",\"email\":\"joedoe@metaloom.io\",\"enabled\":false}","encoding":null,"extensions":null,"exampleSetFlag":true}},"links":null,"extensions":null,"$ref":null}},"callbacks":null,"deprecated":null,"security":null,"servers":null,"extensions":null},"delete":null,"options":null,"head":null,"patch":null,"trace":null,"servers":null,"parameters":null,"$ref":null,"extensions":null},"/users/:uuid":{"summary":null,"description":null,"get":{"tags":null,"summary":null,"description":null,"externalDocs":null,"operationId":null,"parameters":null,"requestBody":null,"responses":{"200":{"description":"The user response","headers":null,"content":{"application/json":{"schema":null,"examples":null,"example":"{\"uuid\":\"f04e89d0-076d-4d90-b192-715a25a2cd59\",\"status\":{\"creator\":{\"uuid\":\"f04e89d0-076d-4d90-b192-715a25a2cd59\",\"name\":\"joedoe\"},\"created\":\"2018-10-12T14:15:06.024Z\",\"editor\":{\"uuid\":\"f04e89d0-076d-4d90-b192-715a25a2cd59\",\"name\":\"joedoe\"},\"edited\":\"2018-11-20T20:12:01.084Z\"},\"meta\":{\"abc\":\"cdef\"},\"username\":\"joedoe\",\"firstname\":\"Joe\",\"lastname\":\"Doe\",\"email\":\"joedoe@metaloom.io\",\"enabled\":false}","encoding":null,"extensions":null,"exampleSetFlag":true}},"links":null,"extensions":null,"$ref":null}},"callbacks":null,"deprecated":null,"security":null,"servers":null,"extensions":null},"put":null,"post":{"tags":null,"summary":null,"description":null,"externalDocs":null,"operationId":null,"parameters":null,"requestBody":{"description":null,"content":{"application/json":{"schema":null,"examples":null,"example":"{\"meta\":{\"abc\":\"cdef\"},\"username\":\"joedoe\",\"firstname\":\"Joe\",\"lastname\":\"Doe\",\"email\":\"joedoe@metaloom.io\"}","encoding":null,"extensions":null,"exampleSetFlag":true}},"required":null,"extensions":null,"$ref":null},"responses":{"200":{"description":"The user response","headers":null,"content":{"application/json":{"schema":null,"examples":null,"example":"{\"uuid\":\"f04e89d0-076d-4d90-b192-715a25a2cd59\",\"status\":{\"creator\":{\"uuid\":\"f04e89d0-076d-4d90-b192-715a25a2cd59\",\"name\":\"joedoe\"},\"created\":\"2018-10-12T14:15:06.024Z\",\"editor\":{\"uuid\":\"f04e89d0-076d-4d90-b192-715a25a2cd59\",\"name\":\"joedoe\"},\"edited\":\"2018-11-20T20:12:01.084Z\"},\"meta\":{\"abc\":\"cdef\"},\"username\":\"joedoe\",\"firstname\":\"Joe\",\"lastname\":\"Doe\",\"email\":\"joedoe@metaloom.io\",\"enabled\":false}","encoding":null,"extensions":null,"exampleSetFlag":true}},"links":null,"extensions":null,"$ref":null}},"callbacks":null,"deprecated":null,"security":null,"servers":null,"extensions":null},"delete":{"tags":null,"summary":null,"description":null,"externalDocs":null,"operationId":null,"parameters":null,"requestBody":null,"responses":{"204":{"description":"The delete response","headers":null,"content":null,"links":null,"extensions":null,"$ref":null}},"callbacks":null,"deprecated":null,"security":null,"servers":null,"extensions":null},"options":null,"head":null,"patch":null,"trace":null,"servers":null,"parameters":null,"$ref":null,"extensions":null},"/groups":{"summary":null,"description":null,"get":{"tags":null,"summary":null,"description":null,"externalDocs":null,"operationId":null,"parameters":null,"requestBody":null,"responses":{"200":{"description":"The group list response","headers":null,"content":{"application/json":{"schema":null,"examples":null,"example":"{\"data\":[{\"uuid\":\"0f3332a6-e404-4777-88a9-1fa984a311bc\",\"status\":{\"creator\":{\"uuid\":\"f04e89d0-076d-4d90-b192-715a25a2cd59\",\"name\":\"joedoe\"},\"created\":\"2018-10-12T14:15:06.024Z\",\"editor\":{\"uuid\":\"f04e89d0-076d-4d90-b192-715a25a2cd59\",\"name\":\"joedoe\"},\"edited\":\"2018-11-20T20:12:01.084Z\"},\"meta\":{\"abc\":\"cdef\"},\"name\":\"Guests\"},{\"uuid\":\"0f3332a6-e404-4777-88a9-1fa984a311bc\",\"status\":{\"creator\":{\"uuid\":\"f04e89d0-076d-4d90-b192-715a25a2cd59\",\"name\":\"joedoe\"},\"created\":\"2018-10-12T14:15:06.024Z\",\"editor\":{\"uuid\":\"f04e89d0-076d-4d90-b192-715a25a2cd59\",\"name\":\"joedoe\"},\"edited\":\"2018-11-20T20:12:01.084Z\"},\"meta\":{\"abc\":\"cdef\"},\"name\":\"Guests\"}],\"_metainfo\":{\"lastUuid\":null,\"perPage\":2,\"totalCount\":28}}","encoding":null,"extensions":null,"exampleSetFlag":true}},"links":null,"extensions":null,"$ref":null}},"callbacks":null,"deprecated":null,"security":null,"servers":null,"extensions":null},"put":null,"post":{"tags":null,"summary":null,"description":null,"externalDocs":null,"operationId":null,"parameters":null,"requestBody":{"description":null,"content":{"application/json":{"schema":null,"examples":null,"example":"{\"name\":\"Guests\",\"meta\":{\"abc\":\"cdef\"}}","encoding":null,"extensions":null,"exampleSetFlag":true}},"required":null,"extensions":null,"$ref":null},"responses":{"200":{"description":"The group response","headers":null,"content":{"application/json":{"schema":null,"examples":null,"example":"{\"uuid\":\"0f3332a6-e404-4777-88a9-1fa984a311bc\",\"status\":{\"creator\":{\"uuid\":\"f04e89d0-076d-4d90-b192-715a25a2cd59\",\"name\":\"joedoe\"},\"created\":\"2018-10-12T14:15:06.024Z\",\"editor\":{\"uuid\":\"f04e89d0-076d-4d90-b192-715a25a2cd59\",\"name\":\"joedoe\"},\"edited\":\"2018-11-20T20:12:01.084Z\"},\"meta\":{\"abc\":\"cdef\"},\"name\":\"Guests\"}","encoding":null,"extensions":null,"exampleSetFlag":true}},"links":null,"extensions":null,"$ref":null}},"callbacks":null,"deprecated":null,"security":null,"servers":null,"extensions":null},"delete":null,"options":null,"head":null,"patch":null,"trace":null,"servers":null,"parameters":null,"$ref":null,"extensions":null},"/groups/:uuid":{"summary":null,"description":null,"get":{"tags":null,"summary":null,"description":null,"externalDocs":null,"operationId":null,"parameters":null,"requestBody":null,"responses":{"200":{"description":"The group response","headers":null,"content":{"application/json":{"schema":null,"examples":null,"example":"{\"uuid\":\"0f3332a6-e404-4777-88a9-1fa984a311bc\",\"status\":{\"creator\":{\"uuid\":\"f04e89d0-076d-4d90-b192-715a25a2cd59\",\"name\":\"joedoe\"},\"created\":\"2018-10-12T14:15:06.024Z\",\"editor\":{\"uuid\":\"f04e89d0-076d-4d90-b192-715a25a2cd59\",\"name\":\"joedoe\"},\"edited\":\"2018-11-20T20:12:01.084Z\"},\"meta\":{\"abc\":\"cdef\"},\"name\":\"Guests\"}","encoding":null,"extensions":null,"exampleSetFlag":true}},"links":null,"extensions":null,"$ref":null}},"callbacks":null,"deprecated":null,"security":null,"servers":null,"extensions":null},"put":null,"post":{"tags":null,"summary":null,"description":null,"externalDocs":null,"operationId":null,"parameters":null,"requestBody":{"description":null,"content":{"application/json":{"schema":null,"examples":null,"example":"{\"name\":\"NewGuests\",\"meta\":{\"abc\":\"cdef\"}}","encoding":null,"extensions":null,"exampleSetFlag":true}},"required":null,"extensions":null,"$ref":null},"responses":{"200":{"description":"The group response","headers":null,"content":{"application/json":{"schema":null,"examples":null,"example":"{\"uuid\":\"0f3332a6-e404-4777-88a9-1fa984a311bc\",\"status\":{\"creator\":{\"uuid\":\"f04e89d0-076d-4d90-b192-715a25a2cd59\",\"name\":\"joedoe\"},\"created\":\"2018-10-12T14:15:06.024Z\",\"editor\":{\"uuid\":\"f04e89d0-076d-4d90-b192-715a25a2cd59\",\"name\":\"joedoe\"},\"edited\":\"2018-11-20T20:12:01.084Z\"},\"meta\":{\"abc\":\"cdef\"},\"name\":\"Guests\"}","encoding":null,"extensions":null,"exampleSetFlag":true}},"links":null,"extensions":null,"$ref":null}},"callbacks":null,"deprecated":null,"security":null,"servers":null,"extensions":null},"delete":{"tags":null,"summary":null,"description":null,"externalDocs":null,"operationId":null,"parameters":null,"requestBody":null,"responses":{"204":{"description":"The delete response","headers":null,"content":null,"links":null,"extensions":null,"$ref":null}},"callbacks":null,"deprecated":null,"security":null,"servers":null,"extensions":null},"options":null,"head":null,"patch":null,"trace":null,"servers":null,"parameters":null,"$ref":null,"extensions":null},"/assets":{"summary":null,"description":null,"get":{"tags":null,"summary":null,"description":null,"externalDocs":null,"operationId":null,"parameters":null,"requestBody":null,"responses":{"200":{"description":"The asset list response","headers":null,"content":{"application/json":{"schema":null,"examples":null,"example":"{\"data\":[{\"uuid\":\"f04e89d0-076d-4d90-b192-715a25a2cd59\",\"status\":{\"creator\":{\"uuid\":\"f04e89d0-076d-4d90-b192-715a25a2cd59\",\"name\":\"joedoe\"},\"created\":\"2018-10-12T14:15:06.024Z\",\"editor\":{\"uuid\":\"f04e89d0-076d-4d90-b192-715a25a2cd59\",\"name\":\"joedoe\"},\"edited\":\"2018-11-20T20:12:01.084Z\"},\"meta\":{\"abc\":\"cdef\"},\"geo\":{\"lon\":32.56,\"lat\":52.156,\"alias\":null},\"social\":null,\"tags\":[{\"uuid\":\"f04e89d0-076d-4d90-b192-715a25a2cd59\",\"name\":\"red\"}],\"annotations\":[{\"uuid\":null,\"status\":{\"creator\":null,\"created\":null,\"editor\":null,\"edited\":null},\"meta\":{\"abc\":\"cdef\"},\"type\":null,\"title\":\"Intro Feedback\",\"area\":{\"from\":0,\"to\":10,\"width\":null,\"height\":null,\"startX\":null,\"startY\":null},\"description\":\"The very nice intro\",\"tasks\":[{\"uuid\":\"0f3332a6-e404-4777-88a9-1fa984a311bc\",\"status\":{\"creator\":null,\"created\":null,\"editor\":null,\"edited\":null},\"meta\":null,\"title\":\"Fix text offset here\",\"description\":\"The text is not aligned with the title\",\"priority\":null,\"comments\":[{\"uuid\":\"86abc160-4da2-4951-a91f-da0c33fbc634\",\"status\":{\"creator\":null,\"created\":null,\"editor\":null,\"edited\":null},\"meta\":null,\"title\":\"Great work!\",\"text\":\"What a great choice of colors!\",\"social\":{\"rating\":{\"stars\":10,\"upVotes\":42,\"downVotes\":0},\"reactions\":{\"SATISFIED\":10}}}]}],\"comments\":[{\"uuid\":\"86abc160-4da2-4951-a91f-da0c33fbc634\",\"status\":{\"creator\":null,\"created\":null,\"editor\":null,\"edited\":null},\"meta\":null,\"title\":\"Great work!\",\"text\":\"What a great choice of colors!\",\"social\":{\"rating\":{\"stars\":10,\"upVotes\":42,\"downVotes\":0},\"reactions\":{\"SATISFIED\":10}}}],\"thumbnail\":\"???\",\"tags\":[{\"uuid\":\"86abc160-4da2-4951-a91f-da0c33fbc634\",\"name\":\"blue\"}],\"assetUuid\":null}],\"collections\":[],\"embeddings\":[],\"file\":{\"mimeType\":\"video/mp4\",\"filename\":\"bigbuckbunny-4k.mp4\",\"size\":42000000,\"origin\":\"https://www.youtube.com/watch?v=aqz-KE-bpKQ\",\"firstSeen\":\"2018-10-12T14:15:06.024Z\"},\"consistency\":null,\"hashes\":{\"sha512\":\"0e3e75234abc68f4378a86b3f4b32a198ba301845b0cd6e50106e874345700cc6663a86c1ea125dc5e92be17c98f9a0f85ca9d5f595db2012f7cc3571945c123\",\"sha256\":\"f2ca1bb6c7e907d06dafe4687e579fce76b37e4e93b7605022da52e6ccc26fd2\",\"md5\":\"d8e8fca2dc0f896fd7cb4cb0031ba249\"},\"media\":{\"duration\":20000,\"width\":4000,\"height\":2250},\"image\":{\"dominantColor\":\"#FFFF00\"},\"video\":null,\"audio\":{\"channels\":2,\"encoding\":\"mp3\",\"bitrate\":null,\"samplingRate\":48000,\"bpm\":120},\"document\":null,\"locations\":[{\"uuid\":\"0f3332a6-e404-4777-88a9-1fa984a311bc\",\"path\":\"/the-current-path/bigbuckbunny-4k.mp4\"}]},{\"uuid\":\"f04e89d0-076d-4d90-b192-715a25a2cd59\",\"status\":{\"creator\":{\"uuid\":\"f04e89d0-076d-4d90-b192-715a25a2cd59\",\"name\":\"joedoe\"},\"created\":\"2018-10-12T14:15:06.024Z\",\"editor\":{\"uuid\":\"f04e89d0-076d-4d90-b192-715a25a2cd59\",\"name\":\"joedoe\"},\"edited\":\"2018-11-20T20:12:01.084Z\"},\"meta\":{\"abc\":\"cdef\"},\"geo\":{\"lon\":32.56,\"lat\":52.156,\"alias\":null},\"social\":null,\"tags\":[{\"uuid\":\"f04e89d0-076d-4d90-b192-715a25a2cd59\",\"name\":\"red\"}],\"annotations\":[{\"uuid\":null,\"status\":{\"creator\":null,\"created\":null,\"editor\":null,\"edited\":null},\"meta\":{\"abc\":\"cdef\"},\"type\":null,\"title\":\"Intro Feedback\",\"area\":{\"from\":0,\"to\":10,\"width\":null,\"height\":null,\"startX\":null,\"startY\":null},\"description\":\"The very nice intro\",\"tasks\":[{\"uuid\":\"0f3332a6-e404-4777-88a9-1fa984a311bc\",\"status\":{\"creator\":null,\"created\":null,\"editor\":null,\"edited\":null},\"meta\":null,\"title\":\"Fix text offset here\",\"description\":\"The text is not aligned with the title\",\"priority\":null,\"comments\":[{\"uuid\":\"86abc160-4da2-4951-a91f-da0c33fbc634\",\"status\":{\"creator\":null,\"created\":null,\"editor\":null,\"edited\":null},\"meta\":null,\"title\":\"Great work!\",\"text\":\"What a great choice of colors!\",\"social\":{\"rating\":{\"stars\":10,\"upVotes\":42,\"downVotes\":0},\"reactions\":{\"SATISFIED\":10}}}]}],\"comments\":[{\"uuid\":\"86abc160-4da2-4951-a91f-da0c33fbc634\",\"status\":{\"creator\":null,\"created\":null,\"editor\":null,\"edited\":null},\"meta\":null,\"title\":\"Great work!\",\"text\":\"What a great choice of colors!\",\"social\":{\"rating\":{\"stars\":10,\"upVotes\":42,\"downVotes\":0},\"reactions\":{\"SATISFIED\":10}}}],\"thumbnail\":\"???\",\"tags\":[{\"uuid\":\"86abc160-4da2-4951-a91f-da0c33fbc634\",\"name\":\"blue\"}],\"assetUuid\":null}],\"collections\":[],\"embeddings\":[],\"file\":{\"mimeType\":\"video/mp4\",\"filename\":\"bigbuckbunny-4k.mp4\",\"size\":42000000,\"origin\":\"https://www.youtube.com/watch?v=aqz-KE-bpKQ\",\"firstSeen\":\"2018-10-12T14:15:06.024Z\"},\"consistency\":null,\"hashes\":{\"sha512\":\"0e3e75234abc68f4378a86b3f4b32a198ba301845b0cd6e50106e874345700cc6663a86c1ea125dc5e92be17c98f9a0f85ca9d5f595db2012f7cc3571945c123\",\"sha256\":\"f2ca1bb6c7e907d06dafe4687e579fce76b37e4e93b7605022da52e6ccc26fd2\",\"md5\":\"d8e8fca2dc0f896fd7cb4cb0031ba249\"},\"media\":{\"duration\":20000,\"width\":4000,\"height\":2250},\"image\":{\"dominantColor\":\"#FFFF00\"},\"video\":null,\"audio\":{\"channels\":2,\"encoding\":\"mp3\",\"bitrate\":null,\"samplingRate\":48000,\"bpm\":120},\"document\":null,\"locations\":[{\"uuid\":\"0f3332a6-e404-4777-88a9-1fa984a311bc\",\"path\":\"/the-current-path/bigbuckbunny-4k.mp4\"}]}],\"_metainfo\":{\"lastUuid\":null,\"perPage\":2,\"totalCount\":28}}","encoding":null,"extensions":null,"exampleSetFlag":true}},"links":null,"extensions":null,"$ref":null}},"callbacks":null,"deprecated":null,"security":null,"servers":null,"extensions":null},"put":null,"post":{"tags":null,"summary":null,"description":null,"externalDocs":null,"operationId":null,"parameters":null,"requestBody":{"description":null,"content":{"application/json":{"schema":null,"examples":null,"example":"{\"meta\":{\"abc\":\"cdef\"},\"geo\":{\"lon\":32.56,\"lat\":52.156,\"alias\":null},\"timeline\":[{\"uuid\":null,\"status\":{\"creator\":null,\"created\":null,\"editor\":null,\"edited\":null},\"meta\":{\"abc\":\"cdef\"},\"type\":null,\"title\":\"Intro Feedback\",\"area\":{\"from\":0,\"to\":10,\"width\":null,\"height\":null,\"startX\":null,\"startY\":null},\"description\":\"The very nice intro\",\"tasks\":[{\"uuid\":\"0f3332a6-e404-4777-88a9-1fa984a311bc\",\"status\":{\"creator\":null,\"created\":null,\"editor\":null,\"edited\":null},\"meta\":null,\"title\":\"Fix text offset here\",\"description\":\"The text is not aligned with the title\",\"priority\":null,\"comments\":[{\"uuid\":\"86abc160-4da2-4951-a91f-da0c33fbc634\",\"status\":{\"creator\":null,\"created\":null,\"editor\":null,\"edited\":null},\"meta\":null,\"title\":\"Great work!\",\"text\":\"What a great choice of colors!\",\"social\":{\"rating\":{\"stars\":10,\"upVotes\":42,\"downVotes\":0},\"reactions\":{\"SATISFIED\":10}}}]}],\"comments\":[{\"uuid\":\"86abc160-4da2-4951-a91f-da0c33fbc634\",\"status\":{\"creator\":null,\"created\":null,\"editor\":null,\"edited\":null},\"meta\":null,\"title\":\"Great work!\",\"text\":\"What a great choice of colors!\",\"social\":{\"rating\":{\"stars\":10,\"upVotes\":42,\"downVotes\":0},\"reactions\":{\"SATISFIED\":10}}}],\"thumbnail\":\"???\",\"tags\":[{\"uuid\":\"86abc160-4da2-4951-a91f-da0c33fbc634\",\"name\":\"blue\"}],\"assetUuid\":null}],\"tags\":null,\"file\":{\"mimeType\":\"video/mp4\",\"filename\":\"bigbuckbunny-4k.mp4\",\"size\":42000000,\"origin\":\"https://www.youtube.com/watch?v=aqz-KE-bpKQ\",\"firstSeen\":\"2018-10-12T14:15:06.024Z\"},\"consistency\":null,\"hashes\":null,\"media\":null,\"image\":{\"dominantColor\":\"#FFFF00\"},\"video\":null,\"audio\":null,\"document\":null,\"embeddings\":[]}","encoding":null,"extensions":null,"exampleSetFlag":true}},"required":null,"extensions":null,"$ref":null},"responses":{"200":{"description":"The asset response","headers":null,"content":{"application/json":{"schema":null,"examples":null,"example":"{\"uuid\":\"f04e89d0-076d-4d90-b192-715a25a2cd59\",\"status\":{\"creator\":{\"uuid\":\"f04e89d0-076d-4d90-b192-715a25a2cd59\",\"name\":\"joedoe\"},\"created\":\"2018-10-12T14:15:06.024Z\",\"editor\":{\"uuid\":\"f04e89d0-076d-4d90-b192-715a25a2cd59\",\"name\":\"joedoe\"},\"edited\":\"2018-11-20T20:12:01.084Z\"},\"meta\":{\"abc\":\"cdef\"},\"geo\":{\"lon\":32.56,\"lat\":52.156,\"alias\":null},\"social\":null,\"tags\":[{\"uuid\":\"f04e89d0-076d-4d90-b192-715a25a2cd59\",\"name\":\"red\"}],\"annotations\":[{\"uuid\":null,\"status\":{\"creator\":null,\"created\":null,\"editor\":null,\"edited\":null},\"meta\":{\"abc\":\"cdef\"},\"type\":null,\"title\":\"Intro Feedback\",\"area\":{\"from\":0,\"to\":10,\"width\":null,\"height\":null,\"startX\":null,\"startY\":null},\"description\":\"The very nice intro\",\"tasks\":[{\"uuid\":\"0f3332a6-e404-4777-88a9-1fa984a311bc\",\"status\":{\"creator\":null,\"created\":null,\"editor\":null,\"edited\":null},\"meta\":null,\"title\":\"Fix text offset here\",\"description\":\"The text is not aligned with the title\",\"priority\":null,\"comments\":[{\"uuid\":\"86abc160-4da2-4951-a91f-da0c33fbc634\",\"status\":{\"creator\":null,\"created\":null,\"editor\":null,\"edited\":null},\"meta\":null,\"title\":\"Great work!\",\"text\":\"What a great choice of colors!\",\"social\":{\"rating\":{\"stars\":10,\"upVotes\":42,\"downVotes\":0},\"reactions\":{\"SATISFIED\":10}}}]}],\"comments\":[{\"uuid\":\"86abc160-4da2-4951-a91f-da0c33fbc634\",\"status\":{\"creator\":null,\"created\":null,\"editor\":null,\"edited\":null},\"meta\":null,\"title\":\"Great work!\",\"text\":\"What a great choice of colors!\",\"social\":{\"rating\":{\"stars\":10,\"upVotes\":42,\"downVotes\":0},\"reactions\":{\"SATISFIED\":10}}}],\"thumbnail\":\"???\",\"tags\":[{\"uuid\":\"86abc160-4da2-4951-a91f-da0c33fbc634\",\"name\":\"blue\"}],\"assetUuid\":null}],\"collections\":[],\"embeddings\":[],\"file\":{\"mimeType\":\"video/mp4\",\"filename\":\"bigbuckbunny-4k.mp4\",\"size\":42000000,\"origin\":\"https://www.youtube.com/watch?v=aqz-KE-bpKQ\",\"firstSeen\":\"2018-10-12T14:15:06.024Z\"},\"consistency\":null,\"hashes\":{\"sha512\":\"0e3e75234abc68f4378a86b3f4b32a198ba301845b0cd6e50106e874345700cc6663a86c1ea125dc5e92be17c98f9a0f85ca9d5f595db2012f7cc3571945c123\",\"sha256\":\"f2ca1bb6c7e907d06dafe4687e579fce76b37e4e93b7605022da52e6ccc26fd2\",\"md5\":\"d8e8fca2dc0f896fd7cb4cb0031ba249\"},\"media\":{\"duration\":20000,\"width\":4000,\"height\":2250},\"image\":{\"dominantColor\":\"#FFFF00\"},\"video\":null,\"audio\":{\"channels\":2,\"encoding\":\"mp3\",\"bitrate\":null,\"samplingRate\":48000,\"bpm\":120},\"document\":null,\"locations\":[{\"uuid\":\"0f3332a6-e404-4777-88a9-1fa984a311bc\",\"path\":\"/the-current-path/bigbuckbunny-4k.mp4\"}]}","encoding":null,"extensions":null,"exampleSetFlag":true}},"links":null,"extensions":null,"$ref":null}},"callbacks":null,"deprecated":null,"security":null,"servers":null,"extensions":null},"delete":null,"options":null,"head":null,"patch":null,"trace":null,"servers":null,"parameters":null,"$ref":null,"extensions":null},"/assets/:sha512orUUID":{"summary":null,"description":null,"get":{"tags":null,"summary":null,"description":null,"externalDocs":null,"operationId":null,"parameters":null,"requestBody":null,"responses":{"200":{"description":"The asset response","headers":null,"content":{"application/json":{"schema":null,"examples":null,"example":"{\"uuid\":\"f04e89d0-076d-4d90-b192-715a25a2cd59\",\"status\":{\"creator\":{\"uuid\":\"f04e89d0-076d-4d90-b192-715a25a2cd59\",\"name\":\"joedoe\"},\"created\":\"2018-10-12T14:15:06.024Z\",\"editor\":{\"uuid\":\"f04e89d0-076d-4d90-b192-715a25a2cd59\",\"name\":\"joedoe\"},\"edited\":\"2018-11-20T20:12:01.084Z\"},\"meta\":{\"abc\":\"cdef\"},\"geo\":{\"lon\":32.56,\"lat\":52.156,\"alias\":null},\"social\":null,\"tags\":[{\"uuid\":\"f04e89d0-076d-4d90-b192-715a25a2cd59\",\"name\":\"red\"}],\"annotations\":[{\"uuid\":null,\"status\":{\"creator\":null,\"created\":null,\"editor\":null,\"edited\":null},\"meta\":{\"abc\":\"cdef\"},\"type\":null,\"title\":\"Intro Feedback\",\"area\":{\"from\":0,\"to\":10,\"width\":null,\"height\":null,\"startX\":null,\"startY\":null},\"description\":\"The very nice intro\",\"tasks\":[{\"uuid\":\"0f3332a6-e404-4777-88a9-1fa984a311bc\",\"status\":{\"creator\":null,\"created\":null,\"editor\":null,\"edited\":null},\"meta\":null,\"title\":\"Fix text offset here\",\"description\":\"The text is not aligned with the title\",\"priority\":null,\"comments\":[{\"uuid\":\"86abc160-4da2-4951-a91f-da0c33fbc634\",\"status\":{\"creator\":null,\"created\":null,\"editor\":null,\"edited\":null},\"meta\":null,\"title\":\"Great work!\",\"text\":\"What a great choice of colors!\",\"social\":{\"rating\":{\"stars\":10,\"upVotes\":42,\"downVotes\":0},\"reactions\":{\"SATISFIED\":10}}}]}],\"comments\":[{\"uuid\":\"86abc160-4da2-4951-a91f-da0c33fbc634\",\"status\":{\"creator\":null,\"created\":null,\"editor\":null,\"edited\":null},\"meta\":null,\"title\":\"Great work!\",\"text\":\"What a great choice of colors!\",\"social\":{\"rating\":{\"stars\":10,\"upVotes\":42,\"downVotes\":0},\"reactions\":{\"SATISFIED\":10}}}],\"thumbnail\":\"???\",\"tags\":[{\"uuid\":\"86abc160-4da2-4951-a91f-da0c33fbc634\",\"name\":\"blue\"}],\"assetUuid\":null}],\"collections\":[],\"embeddings\":[],\"file\":{\"mimeType\":\"video/mp4\",\"filename\":\"bigbuckbunny-4k.mp4\",\"size\":42000000,\"origin\":\"https://www.youtube.com/watch?v=aqz-KE-bpKQ\",\"firstSeen\":\"2018-10-12T14:15:06.024Z\"},\"consistency\":null,\"hashes\":{\"sha512\":\"0e3e75234abc68f4378a86b3f4b32a198ba301845b0cd6e50106e874345700cc6663a86c1ea125dc5e92be17c98f9a0f85ca9d5f595db2012f7cc3571945c123\",\"sha256\":\"f2ca1bb6c7e907d06dafe4687e579fce76b37e4e93b7605022da52e6ccc26fd2\",\"md5\":\"d8e8fca2dc0f896fd7cb4cb0031ba249\"},\"media\":{\"duration\":20000,\"width\":4000,\"height\":2250},\"image\":{\"dominantColor\":\"#FFFF00\"},\"video\":null,\"audio\":{\"channels\":2,\"encoding\":\"mp3\",\"bitrate\":null,\"samplingRate\":48000,\"bpm\":120},\"document\":null,\"locations\":[{\"uuid\":\"0f3332a6-e404-4777-88a9-1fa984a311bc\",\"path\":\"/the-current-path/bigbuckbunny-4k.mp4\"}]}","encoding":null,"extensions":null,"exampleSetFlag":true}},"links":null,"extensions":null,"$ref":null}},"callbacks":null,"deprecated":null,"security":null,"servers":null,"extensions":null},"put":null,"post":{"tags":null,"summary":null,"description":null,"externalDocs":null,"operationId":null,"parameters":null,"requestBody":{"description":null,"content":{"application/json":{"schema":null,"examples":null,"example":"{\"filename\":null,\"meta\":{\"abc\":\"cdef\"},\"timeline\":[{\"uuid\":null,\"status\":{\"creator\":null,\"created\":null,\"editor\":null,\"edited\":null},\"meta\":{\"abc\":\"cdef\"},\"type\":null,\"title\":\"Intro Feedback\",\"area\":{\"from\":0,\"to\":10,\"width\":null,\"height\":null,\"startX\":null,\"startY\":null},\"description\":\"The very nice intro\",\"tasks\":[{\"uuid\":\"0f3332a6-e404-4777-88a9-1fa984a311bc\",\"status\":{\"creator\":null,\"created\":null,\"editor\":null,\"edited\":null},\"meta\":null,\"title\":\"Fix text offset here\",\"description\":\"The text is not aligned with the title\",\"priority\":null,\"comments\":[{\"uuid\":\"86abc160-4da2-4951-a91f-da0c33fbc634\",\"status\":{\"creator\":null,\"created\":null,\"editor\":null,\"edited\":null},\"meta\":null,\"title\":\"Great work!\",\"text\":\"What a great choice of colors!\",\"social\":{\"rating\":{\"stars\":10,\"upVotes\":42,\"downVotes\":0},\"reactions\":{\"SATISFIED\":10}}}]}],\"comments\":[{\"uuid\":\"86abc160-4da2-4951-a91f-da0c33fbc634\",\"status\":{\"creator\":null,\"created\":null,\"editor\":null,\"edited\":null},\"meta\":null,\"title\":\"Great work!\",\"text\":\"What a great choice of colors!\",\"social\":{\"rating\":{\"stars\":10,\"upVotes\":42,\"downVotes\":0},\"reactions\":{\"SATISFIED\":10}}}],\"thumbnail\":\"???\",\"tags\":[{\"uuid\":\"86abc160-4da2-4951-a91f-da0c33fbc634\",\"name\":\"blue\"}],\"assetUuid\":null}],\"s3\":null,\"tags\":null,\"file\":{\"mimeType\":\"video/mp4\",\"filename\":\"bigbuckbunny-4k.mp4\",\"size\":42000000,\"origin\":\"https://www.youtube.com/watch?v=aqz-KE-bpKQ\",\"firstSeen\":\"2018-10-12T14:15:06.024Z\"},\"consistency\":null,\"hashes\":null,\"media\":null,\"image\":{\"dominantColor\":\"#FFFF00\"},\"video\":null,\"audio\":null,\"document\":null,\"geo\":{\"lon\":32.56,\"lat\":52.156,\"alias\":null}}","encoding":null,"extensions":null,"exampleSetFlag":true}},"required":null,"extensions":null,"$ref":null},"responses":{"200":{"description":"The asset response","headers":null,"content":{"application/json":{"schema":null,"examples":null,"example":"{\"uuid\":\"f04e89d0-076d-4d90-b192-715a25a2cd59\",\"status\":{\"creator\":{\"uuid\":\"f04e89d0-076d-4d90-b192-715a25a2cd59\",\"name\":\"joedoe\"},\"created\":\"2018-10-12T14:15:06.024Z\",\"editor\":{\"uuid\":\"f04e89d0-076d-4d90-b192-715a25a2cd59\",\"name\":\"joedoe\"},\"edited\":\"2018-11-20T20:12:01.084Z\"},\"meta\":{\"abc\":\"cdef\"},\"geo\":{\"lon\":32.56,\"lat\":52.156,\"alias\":null},\"social\":null,\"tags\":[{\"uuid\":\"f04e89d0-076d-4d90-b192-715a25a2cd59\",\"name\":\"red\"}],\"annotations\":[{\"uuid\":null,\"status\":{\"creator\":null,\"created\":null,\"editor\":null,\"edited\":null},\"meta\":{\"abc\":\"cdef\"},\"type\":null,\"title\":\"Intro Feedback\",\"area\":{\"from\":0,\"to\":10,\"width\":null,\"height\":null,\"startX\":null,\"startY\":null},\"description\":\"The very nice intro\",\"tasks\":[{\"uuid\":\"0f3332a6-e404-4777-88a9-1fa984a311bc\",\"status\":{\"creator\":null,\"created\":null,\"editor\":null,\"edited\":null},\"meta\":null,\"title\":\"Fix text offset here\",\"description\":\"The text is not aligned with the title\",\"priority\":null,\"comments\":[{\"uuid\":\"86abc160-4da2-4951-a91f-da0c33fbc634\",\"status\":{\"creator\":null,\"created\":null,\"editor\":null,\"edited\":null},\"meta\":null,\"title\":\"Great work!\",\"text\":\"What a great choice of colors!\",\"social\":{\"rating\":{\"stars\":10,\"upVotes\":42,\"downVotes\":0},\"reactions\":{\"SATISFIED\":10}}}]}],\"comments\":[{\"uuid\":\"86abc160-4da2-4951-a91f-da0c33fbc634\",\"status\":{\"creator\":null,\"created\":null,\"editor\":null,\"edited\":null},\"meta\":null,\"title\":\"Great work!\",\"text\":\"What a great choice of colors!\",\"social\":{\"rating\":{\"stars\":10,\"upVotes\":42,\"downVotes\":0},\"reactions\":{\"SATISFIED\":10}}}],\"thumbnail\":\"???\",\"tags\":[{\"uuid\":\"86abc160-4da2-4951-a91f-da0c33fbc634\",\"name\":\"blue\"}],\"assetUuid\":null}],\"collections\":[],\"embeddings\":[],\"file\":{\"mimeType\":\"video/mp4\",\"filename\":\"bigbuckbunny-4k.mp4\",\"size\":42000000,\"origin\":\"https://www.youtube.com/watch?v=aqz-KE-bpKQ\",\"firstSeen\":\"2018-10-12T14:15:06.024Z\"},\"consistency\":null,\"hashes\":{\"sha512\":\"0e3e75234abc68f4378a86b3f4b32a198ba301845b0cd6e50106e874345700cc6663a86c1ea125dc5e92be17c98f9a0f85ca9d5f595db2012f7cc3571945c123\",\"sha256\":\"f2ca1bb6c7e907d06dafe4687e579fce76b37e4e93b7605022da52e6ccc26fd2\",\"md5\":\"d8e8fca2dc0f896fd7cb4cb0031ba249\"},\"media\":{\"duration\":20000,\"width\":4000,\"height\":2250},\"image\":{\"dominantColor\":\"#FFFF00\"},\"video\":null,\"audio\":{\"channels\":2,\"encoding\":\"mp3\",\"bitrate\":null,\"samplingRate\":48000,\"bpm\":120},\"document\":null,\"locations\":[{\"uuid\":\"0f3332a6-e404-4777-88a9-1fa984a311bc\",\"path\":\"/the-current-path/bigbuckbunny-4k.mp4\"}]}","encoding":null,"extensions":null,"exampleSetFlag":true}},"links":null,"extensions":null,"$ref":null}},"callbacks":null,"deprecated":null,"security":null,"servers":null,"extensions":null},"delete":{"tags":null,"summary":null,"description":null,"externalDocs":null,"operationId":null,"parameters":null,"requestBody":null,"responses":{"204":{"description":"The delete response","headers":null,"content":null,"links":null,"extensions":null,"$ref":null}},"callbacks":null,"deprecated":null,"security":null,"servers":null,"extensions":null},"options":null,"head":null,"patch":null,"trace":null,"servers":null,"parameters":null,"$ref":null,"extensions":null},"/assets/:sha512orUUID/tags":{"summary":null,"description":null,"get":null,"put":null,"post":{"tags":null,"summary":null,"description":null,"externalDocs":null,"operationId":null,"parameters":null,"requestBody":null,"responses":null,"callbacks":null,"deprecated":null,"security":null,"servers":null,"extensions":null},"delete":null,"options":null,"head":null,"patch":null,"trace":null,"servers":null,"parameters":null,"$ref":null,"extensions":null},"/assets/:sha512orUUID/tags/:tagUuid":{"summary":null,"description":null,"get":null,"put":null,"post":null,"delete":{"tags":null,"summary":null,"description":null,"externalDocs":null,"operationId":null,"parameters":null,"requestBody":null,"responses":null,"callbacks":null,"deprecated":null,"security":null,"servers":null,"extensions":null},"options":null,"head":null,"patch":null,"trace":null,"servers":null,"parameters":null,"$ref":null,"extensions":null},"/assets/:sha512orUUID/reactions":{"summary":null,"description":null,"get":{"tags":null,"summary":null,"description":null,"externalDocs":null,"operationId":null,"parameters":null,"requestBody":null,"responses":null,"callbacks":null,"deprecated":null,"security":null,"servers":null,"extensions":null},"put":null,"post":{"tags":null,"summary":null,"description":null,"externalDocs":null,"operationId":null,"parameters":null,"requestBody":null,"responses":null,"callbacks":null,"deprecated":null,"security":null,"servers":null,"extensions":null},"delete":null,"options":null,"head":null,"patch":null,"trace":null,"servers":null,"parameters":null,"$ref":null,"extensions":null},"/assets/:sha512orUUID/reactions/:reactionUuid":{"summary":null,"description":null,"get":{"tags":null,"summary":null,"description":null,"externalDocs":null,"operationId":null,"parameters":null,"requestBody":null,"responses":null,"callbacks":null,"deprecated":null,"security":null,"servers":null,"extensions":null},"put":null,"post":{"tags":null,"summary":null,"description":null,"externalDocs":null,"operationId":null,"parameters":null,"requestBody":null,"responses":null,"callbacks":null,"deprecated":null,"security":null,"servers":null,"extensions":null},"delete":{"tags":null,"summary":null,"description":null,"externalDocs":null,"operationId":null,"parameters":null,"requestBody":null,"responses":null,"callbacks":null,"deprecated":null,"security":null,"servers":null,"extensions":null},"options":null,"head":null,"patch":null,"trace":null,"servers":null,"parameters":null,"$ref":null,"extensions":null}},"components":null,"extensions":null,"jsonSchemaDialect":null,"webhooks":null}